{
  "version": 1,
  "disable_existing_loggers": "true",
  "formatters": {
    "simple": {
      "format": "%(asctime)s.%(msecs)03dZ %(module)s.%(funcName)s():%(lineno)d %(levelname)s # %(message)s",
      "datefmt": "%Y-%m-%dT%H:%M:%S"
    }
  },
  "handlers": {
    "console": {
      "class": "logging.StreamHandler",
      "formatter": "simple",
      "stream": "ext://sys.stdout"
    },
    "file": {
      "class": "logging.handlers.RotatingFileHandler",
      "formatter": "simple",
      "filename": "/log/es.log",
      "maxBytes": 5000000,
      "backupCount": 10,
      "encoding": "utf8"
    }
  },
  "loggers": {
    "app": {
      "level": "DEBUG",
      "propagate": "true"
    }
  },
  "root": {
    "handlers": ["console", "file"]
  }
}
