---
kind: Service
apiVersion: v1
metadata:
  name: ess-public
  namespace: {{ ess_namespace }}
  labels:
    name: ess-public
spec:
  selector:
    name: ess
  ports:
  - name: ws
    port: 8080
    targetPort: ws
